[submodule "Stella-Mod-Launcher"]
	path = Stella.Launcher
	url = https://github.com/sefinek24/Stella-Mod-Launcher

[submodule "Genshin-Stella-Mod"]
	path = Stella.Worker
	url = https://github.com/sefinek24/Genshin-Stella-Mod

[submodule "Stella-Mod-Telemetry"]
	path = Stella.Telemetry
	url = https://github.com/sefinek24/Stella-Mod-Telemetry

[submodule "Stella-Mod-Scripts"]
	path = Stella.Scripts
	url = https://github.com/sefinek24/Stella-Mod-Scripts.git

[submodule "Stella-Mod-Build"]
	path = Stella.Build
	url = https://github.com/sefinek24/Stella-Mod-Build.git
