# Default
.vs
.idea
.idea/shelf/
.idea/workspace.xml
*.wapproj.user
*.assets.cache
*.cache
*.bin
*.patrons
*.stellamodplus
*.user

# Editor-based HTTP Client requests
.idea/httpRequests/

# Build
Build
packages
unlocker.config.json
data/unlocker/unlocker.config.json
data/sounds/*.mp3
Screenshots/*.png
Screenshots/*.jpg
Screenshots/*.jpeg
Screenshots/*.bmp



# InnoSetup
InnoSetup/*.exe
InnoSetup/Output

# Configs
.eslintrc.js
