# Directories
.vs
data/reshade/cache

# For patrons
data/Patrons
data/presets/New
data/presets/Patrons
data/presets/For Patrons
data/presets/Other/Previous versions
data/reshade/addons/licenses/ReshadeEffectShaderToggler.md
data/reshade/addons/ReshadeEffectShaderToggler.addon64
data/reshade/addons/ReshadeEffectShaderToggler.ini

# Files
data/unlocker/unlocker.config.json
Screenshots/*.png
Screenshots/*.jpg
Screenshots/*.jpeg
Screenshots/*.bmp

# Configs
.eslintrc.js