# Directories
.idea
.vs

# For my patrons
Data/Patrons
Data/Presets/New
Data/Presets/Patrons
Data/Presets/Other/Previous versions

# Files
Data/Unlocker/unlocker.config.json
Screenshots/*.png
Screenshots/*.jpg
Screenshots/*.jpeg

# Configs
.eslintrc.js