#buttons {
    padding-bottom: 24px;
    padding-top: 24px
}

code {
    font-family: Calibri, "Segoe UI Black", sans-serif;
    font-size: 17px
}

#updates {
    padding-top: 24px
}

#updates img {
    height: 55px
}

.updates-header {
    font-size: 19px
}

span {
    cursor: pointer
}