<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="logfile" xsi:type="File" layout="${longdate} | ${pad:padding=5:inner=${level:uppercase=true}} | ${logger} | ${pad:padding=2:inner=${threadid}} | ${message} ${exception:format=tostring}" fileName="${specialfolder:folder=ApplicationData}/Stella Mod Launcher/logs/${event-properties:AppName}/${event-properties:AppVersion}.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>