body {
    background-color: #232328;
    color: #fff;
    font-family: "Cascadia Mono", sans-serif;
    text-shadow: 0 0 5px #000;
    text-align: center;
}

h1 {
    font-family: "Comic Sans MS", sans-serif;
    text-shadow: 0 0 3px #000;
}

a {
    color: #5b6bf3;
    text-decoration: none;
    text-shadow: 0 0 3px #000!important;
    transition: .2s;
}

a:hover {
    color: rgba(91, 107, 243, .7);
    text-decoration: underline;
}

a:active {
    color: rgba(86, 98, 246, 0.6);
}

iframe {
    width: 700px;
    height: 400px;
}
