#buttons {
    padding-bottom: 24px;
    padding-top: 24px;
}

img {
    height: 512px;
    margin: 5px;
}

#footer {
    padding-top: 18px;
    padding-bottom: 18px;
}

#footer img {
    height: 52px;
}